<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blocked users</title>
</head>
<body>
<h1>Blocked users</h1>
<div th:if="${blockedUsers}">
    <table>
        <thead>
        <tr>
            <th>User
            </th>
            <th>Blocked since
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance: ${blockedUsers}">
            <th th:text="${instance.key}"></th>
            <th th:text="${instance.value}"></th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>